@use '../abstract/mixins' as *;

section {
    @include flex-center;
    @include full-place;
    overflow: hidden;
}

.section-content {
    @include center-column;
    @include full-place;
    position: relative;
    max-width: 1440px;
    max-height: 1024px;
}