@use "../abstract/_main" as *;

.card {
  cursor: pointer;
  transition: $primary-transition;

  &__inner {
    position: relative;
    @include full-place;
    transition: $primary-transition;
    transform-style: preserve-3d;
    border: none;
    background: transparent;
  }

  &__face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    transition: $primary-transition;

    &--back {
      @include flex-center;
      transform: rotateY(180deg);
    }
  }

  &.flipped &__inner {
    transform: rotateY(180deg);
  }

  &.matched &__inner {
    transform: rotateY(180deg);
    cursor: default;
  }
}