$main-color: #303131;
$secondary-color: #F0EA6E;
$game-dark-background: #294F60;
$light-main-color: #1E7594;
$light-sec-color: #BFE5F2;
$dark-main-color: #ED1B7614;
$dark-sec-color: #ED1B7624;
$game-light-background: #FFFFFF;
$white-color: #FFFFFF;
$radius-primary: 10px;
$radius-secondary: 3px;
$width-100: 100%;
$primary-transition: transform 200ms ease-out;
$scale: scale(1.1);
$no-scale: scale(1);
$prim-font: "Almarai", sans-serif;
$sec-font: "Red Rose", serif;
$theme-fonts: (
    "theme1": ("Orbitron", sans-serif),
    "theme2": ("Figtree", sans-serif)
);
$orange-color: #ea6900;
$blue-color: #097fc5;
$sec-orange-color: #fc8829;
$sec-blue-color: #1FAAFC;