@use "../abstract/_main" as *;

.game-screen {
  padding: 41px 111px;
  gap: 54px;
}


.game-board {
  justify-content: flex-start !important;
  gap: 54px;
}

.game-board-header {
  @include flex-center;
  justify-content: space-between !important;
  width: $width-100;
  padding: 24px;
  border-radius: $radius-primary;

  * {
    font-size: 20px;
  }

  button {
    gap: 10px;
    border-radius: $radius-primary;
    padding: 12px 20px;

    &:hover {
      transform: scale(1);
    }
  }
}

.game-board-content {
  width: auto;
  display: grid;
  gap: 16px;

  &.cards-16 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.cards-24,
  &.cards-36 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.score-board-container {
  @include flex-center;
  justify-content: space-between;
  background: white;
  padding: 16px;
  gap: 40px;
  border-radius: $radius-primary;

  .player1 {
    color: $orange-color !important;
  }

  .player2 {
    color: $blue-color !important;
  }
}

.score-board-player {
  @include flex-center;
  gap: 4px;

  img {
    width: 22px;
    height: 28px;
  }
}

.player-score {
  font-weight: 700;
  font-size: 30px;
}

.current-player-container {
  @include flex-center;
  gap: 18px;
}

.current-player-icon {
  padding: 6px 10px;
  width: 40px;
  height: 40px;
}